* {
  box-sizing: border-box;
}

body {
  font-family: PT Sans;
  margin: auto;

  vertical-align: middle;
  line-height: normal;
  text-align: center;

  font-size: 2vw;

}

img {
  align-self: center;
  justify-self: center;
}

a:hover {
  cursor: pointer;
}

/* left arrow */
.left {
  grid-area: left;
  height: 50%;
  justify-self: end;
}

.left > img {
  height: 100%;
}

/* right arrow */
.right {
  grid-area: right;
  height: 50%;
  justify-self: start;
}

.right > img {
  height: 100%;
  transform: rotate(180deg);
}

/* The grid container */
.grid-container {
  position: relative;

  background: rgba(255, 252, 242, 0.5);
  border-radius: 15px;
  height: 100%;
}

/* Style the header */

.grid-container > .header {
  grid-area: header;
  background: rgba(204, 197, 185, 0.4);
  padding: 30px;
  border-radius: 45px;
  width: 100%;
  margin: auto;
  margin-top: 0%;
  
  display: grid;
  grid-template-areas: "logo info cart";
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 4fr 1fr;

  justify-content: space-between;
  align-items: center;
  justify-items: center;
}

/* Style the header inner indexes*/
.grid-container > .header > .info {
  display: grid;
  grid-template-areas:
    "delivery announcement announcement announcement"
    "index1 index2 index3 index4";
  width: 100%;
  height: 100%;

  grid-column-gap: 20px;
  grid-row-gap: 20px;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;

  justify-content: space-evenly;
  align-content: center;
  align-items: center;
  border-radius: 50px;
}

/* Style the top columns */
.grid-container > .header > .info > .delivery {
  grid-area: delivery;
}

.grid-container > .header > .info > .announcement {
  grid-area: announcement;
}

/* Style the bottom columns */
.grid-container > .header > .info > .index_1 {
  grid-area: index1;
}

.grid-container > .header > .info > .index_2 {
  grid-area: index2;
}

.grid-container > .header > .info > .index_3 {
  grid-area: index3;
}

.grid-container > .header > .info > .index_4 {
  grid-area: index4;
}

/* Style the left logo column */
.grid-container > .header > .logo {
  grid-area: logo;
}

/* Style the right cart column */
.grid-container > .header > .cart {
  grid-area: cart;
  position: relative;
}

.grid-container > .header > .cart > .number-in-cart {
  position: absolute;
  right: -18%;
  top: 35%;
  transform: translate(-50%, -50%);
  font-family: PT Sans;
  font-style: normal;
  font-weight: bold;

  text-align: center;
  letter-spacing: 0.055em;
  text-transform: capitalize;

  color: #fffcf2;
  background-color: rgba(235,94,40, 0.8);
  padding: 2% 4%;
  border-radius: 30%;
}

/* Style the inner column texts */
.grid-container > .header > .info > a {
  position: relative;
  background: #fffcf2;
  color: #252422;
  border-radius: 50px;

  font-family: PT Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 1.5vw;

  text-align: center;
  width: 100%;
  height: 100%;
  padding-top: 5%;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

/* hyperlink text */

.grid-container > .header > .info > a:hover {
  color: #fffcf2;
  background-color: #403d39;
}

/* specify the page you are in */
.grid-container > .header > .info > a.index_2 {
  color: #fffcf2;
  background-color: #403d39;
  opacity: 75%;
}

/*****************************************************************/
/* Main Body Content */

.grid-container > div.content {
  margin: auto;
  margin-top: 5%;
  grid-area: content;
  border-radius: 45px;
  width: 90%;
  display: grid;
  align-self: center;
  justify-self: center;
}

/* table layout*/
table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  background-color:  rgba(204, 197, 185, 0.3);
}

thead {
  display: table;  
  width: 100%;
  border: 5px solid rgba(37,36,34,0.8);
  border-radius: 3px;
}
/* Spacing and layout*/
thead th:nth-child(1) {
  width: 35%
}
thead th:nth-child(2) {
  width: 15%
}
thead th:nth-child(3) {
  width: 15%
}
thead th:nth-child(4) {
  width: 15%
}
thead th:nth-child(5) {
  width: 20%
}

th, td {
  padding: 20px;
}

/* item table layout */
tbody {
  overflow-y: auto;
  display: block;
  width: 100%;
  max-height: 12em;
}
tbody tr {
  display: table;
  width: 100%;  
}

/* Spacing and layout*/
tbody td:nth-child(1) {
  width: 33%
}
tbody td:nth-child(2) {
  width: 12%
}
tbody td:nth-child(3) {
  width: 15%
}
tbody td:nth-child(4) {
  width: 15%
}
tbody td:nth-child(5) {
  width: 15%
}

/* First col */
tbody td:nth-child(1) div{
  display: grid;
  grid-template-areas: 'Title_Pic Title_text';
}
tbody td:nth-child(1) img {
  grid-area: Title_Pic;
  width: 55%;
  margin: auto;
}
tbody td:nth-child(1) p {
  grid-area: Title_text;
  margin: auto;
}

tbody button {
  all: unset;
  background-image: url("../Imgs/Buttons/up-arrow 1.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  /* put the height and width of your image here */
  height: 100%;
  width: 100%;
  align-self: center;
  justify-self: center;
  border: none;
  background-color: transparent;
}

/* Third col */
tbody td:nth-child(3) div {
  display: grid;
  grid-template-areas: 'Q_Lbtn Title Q_Rbtn';
  grid-template-columns: 1fr 1fr 1fr;
}

button#Qty_Up {
  grid-area: Q_Lbtn;
}

button#Qty_Down {
  grid-area: Q_Rbtn; 
  transform: rotate(180deg);
}

/* Fourth col */
tbody td:nth-child(4) div{
  display: grid;
  grid-template-areas: 'G_Lbtn Title G_Rbtn';
  grid-template-columns: 1fr 1.5fr 1fr;
}

button#Glaze_Prev {
  grid-area: G_Lbtn;
  transform: rotate(270deg);
}
button#Glaze_Next {
  grid-area: G_Rbtn;
  transform: rotate(90deg);
}

/* Fifth col */
tbody td:nth-child(5) div{
  display: grid;
  grid-template-areas: 'total Delete_btn';
  grid-template-columns: 3fr 1fr;
}

button#In_Delete_btn {
  grid-area: Delete_btn;
  height: 25%;
  width: 50%;
  background-size: contain;
  background-image: url("../Imgs/Buttons/close.svg");
}

/**************** Footer ********************************/
.grid-container .footer {
  width: 90%;
  align-self: center;
  justify-self: center;
  margin: auto;
  margin-top: 5%;
  display: grid;
  grid-template-areas: 'Footer_Promotion Footer_info'
                       '. Footer_btn';
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 2.5fr 1fr;
  gap: 2%;
}

.footer #promotion {
  grid-area: Footer_Promotion;
  display: grid; 
  grid-template-areas: "footer-title footer-img footer-info";
  grid-template-columns: 1fr 1.5fr 1fr;
  background-color: rgba(204, 197, 185, 0.4);
  border-radius: 15px;
}

.footer #promotion #title {
  grid-area: footer-title;
  font-size: 3vw;
}

.footer #promotion #saleInfo {
  grid-area: footer-info;
  display: flex;
  flex-direction: column;
  grid-template-rows: 2fr 1fr;
  width: 80%;
  height: 100%;
  justify-self: center;
  justify-content: center;
  align-items: center;
}

.footer button {
  background-color: rgba(235,94,40, 0.8);
  border-radius: 25px;
  font-size: 2vw;
  color: rgba(255,252,242,1);
  font-weight: 600;
  height: 100%;
  width: 100%;
  margin: 5%;
}

#saleInfo p{
  background-color: rgba(235,94,40, 0.8);
  border-radius: 25px;
  padding: 12%;
  color: rgba(255,252,242,1);
  font-weight: 600;

  height: 100%;
  width: 100%;
  margin: 5%;
}

.footer #promotion #image {
  grid-area: footer-img;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer #promotion #image img {
  width: 80%;
  height: 80%;
}

.footer #info {
  grid-area: Footer_info;
  background-color: rgba(204, 197, 185, 0.4);
  border-radius: 15px;
  text-align: left;
  padding-left: 3%;
}
.footer #checkOut_btn {
  grid-area: Footer_btn;
}
.footer #checkOut_btn button {
  width: 100%;
  height: 80%;
  margin: auto
}