@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,700");
html,
body {
  height: 100%;
  width: 100%;
  font-family: 'Poppins', sans-serif;
  color: #222;
}

section {
  height: 100vh;
  width: 100vw;
}

/* Nav bar setting */
.navbar {
  padding: .8rem;
}

.navbar li {
  padding-right: 20px;
}

.nav-link {
  font-size: 1.1em !important;
}

.carousel-inner img {
  width: 100%;
  height: 100%;
}

.carousel-control-prev-icon {
  /* Position */
  position: absolute;
  top: 25%;
  /*size */
  height: 15%;
  width: 30%;
  /*color */
  opacity: 0.8;
  -webkit-filter: invert(100%);
          filter: invert(100%);
  /* bg img */
  background-image: url("../icons/arrow-left-square.svg");
}

.carousel-control-next-icon {
  /* Position */
  position: absolute;
  top: 25%;
  /*size */
  height: 15%;
  width: 30%;
  /*color */
  opacity: 0.8;
  -webkit-filter: invert(100%);
          filter: invert(100%);
  /* bg img */
  background-image: url("../icons/arrow-right-square.svg");
}

.carousel-caption {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.carousel-caption h1 {
  font-size: 5vw;
  white-space: nowrap;
  text-transform: uppercase;
  text-shadow: 1px 1px 15px #000;
}

.carousel-caption h3 {
  font-weight: 200%;
  font-weight: 500;
  text-shadow: 1px 1px 1px 10px #000;
  padding-bottom: 1rem;
}

.btn-primary {
  background-color: #e82e2f;
  border: 1px solid #e82e2f;
}

.btn-primary:hover {
  background-color: #783427;
  border: 1px solid #783427;
}

.btn-warning {
  background-color: #ffdbaf;
  border: 1px solid #ffdbaf;
}

.btn-warning:hover {
  background-color: #783427;
  border: 1px solid #783427;
}

/*---Media Queries --*/
/*---Firefox Bug Fix --*/
.carousel-item {
  transition: -webkit-transform 0.5s ease;
  -webkit-transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}

/*--- Fixed Background Image --*/
figure {
  position: relative;
  width: 100%;
  height: 60%;
  margin: 0 !important;
}

.fixed-wrap {
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#fixed {
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  will-change: transform;
}

/*--- Bootstrap Padding Fix --*/
[class*="col-"] {
  padding: 1rem;
}

/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/
/* Clickable scroll buttons (Prev + Next) */
.cd-vertical-nav {
  list-style-type: none;
  /* lateral navigation */
  position: fixed;
  z-index: 1;
  right: 3%;
  top: 80%;
  bottom: auto;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: none;
}

.cd-vertical-nav a {
  display: block;
  height: 40px;
  width: 40px;
  /* image replace */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  opacity: 0.5;
  background: url(../icons/cd-icon-arrow.svg) no-repeat center center;
}

.cd-vertical-nav a.cd-prev {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  margin-bottom: 2vh;
}

.cd-vertical-nav a.inactive {
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 0.2s 0s, visibility 0s 0.2s;
  transition: opacity 0.2s 0s, visibility 0s 0.2s;
}

@media only screen and (min-width: 1050px) {
  .cd-vertical-nav {
    display: block;
  }
}

/* Reach top of the screen  */
/* My google map*/
#map {
  height: 60vh;
  width: 100%;
}

/* Text Menu */
#Menu_Text ol {
  position: relative;
  top: 10%;
  -webkit-transform: translateY(-15%);
          transform: translateY(-15%);
}

#Menu_Text li {
  list-style-type: none;
}
/*# sourceMappingURL=main.css.map */